.cartao-atuacao:nth-child(even) {
  width: 100%;
  min-height: fit-content;
  background: linear-gradient(-45deg, #1f1f27, #1f1f27, #103772, #315789);
  border-radius: 1em;
}
.cartao-atuacao:nth-child(odd) {
  width: 100%;
  min-height: fit-content;
  background: linear-gradient(-45deg, #103772, #103772, #1f1f27, #1f1f27);
  border-radius: 1em;
}