.page {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.wrapper {
    background: linear-gradient(-45deg, #123a,#234,#1234,#123);
    min-height: fit-content;
    padding: 3em;
}
h4{
    margin-bottom: .5em;
    text-transform: uppercase;
}
p {
    font-weight: 500;
}
a {
    font-weight: 900;
}