.cartao-formacao {
  width: 100%;
  min-height: fit-content;
  margin: 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

}
.cartao-formacao img {
  min-width: 2em;
  min-height: 2em;
}