.cartao-inicio {
  width: 100%;
  min-height: 15em;
  background: linear-gradient(-45deg, #29293d, #2e2e46, #133c7a, #274d7e);
  border-radius: 1em;
}
.botao:hover{
  background: linear-gradient(-45deg, #274d7e, #133c7a, #2e2e46, #29293d);
}