.cartao-inicio {
  width: 100%;
  min-height: 6em;
  background: linear-gradient(-45deg, #315789, #103772, #282833, #24242e);
  border-radius: 1em;
  margin: 1em 0 1em 0;
}
.botao:hover{
  background: linear-gradient(-45deg, #24242e, #282833, #103772, #315789);
}
.fundo {
  background: linear-gradient(-45deg, #315789, #103772, #282833, #24242e);
}
p {
  margin: 0 1em 0 1em;
}
