@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Poppins:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif, 'Poppins';
}
body {
  background: linear-gradient(-45deg, #2e2e41, #2e2e41, #103772, #315789);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
main {
  min-height: 90vh;
  padding-bottom: 1em;
}
.logo {
  color: #68bbe3 !important;
  font-family: 'Freckle Face' !important;
  font-size: 1.8em;
}
a, button {
  text-decoration: none !important;
  outline: none !important;
}
a:hover, button:hover {
  text-decoration: none !important;
  outline: none !important;
}
.fa {
  font-size: 1em;
}
.nav-link {
  font-size: 1em;
}
.carousel img {
  max-height: 100%;
  height: 30em;
  max-width: 100%;
  width: 50em;
  object-fit: contain;
  background: transparent;
}
footer {
  display: flex;
  align-items: center;
  position:relative;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
}